# قاعدة البيانات المحلية (مهم جداً عدم رفعها لـ Github)
db.sqlite3

# ملفات البيئة الوهمية
venv/
env/
.env

# ملفات بايثون المؤقتة
__pycache__/
*.pyc
*.pyo
*.pyd

# ملفات الميديا والملفات الثابتة المجمعة
/static/
/media/

# ملفات إعدادات المحرر (VS Code / PyCharm)
.vscode/
.idea/